<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация на сайт для секса с аниме-тян</title>
    <link rel="stylesheet" href="/src/static/css/signup.css">
</head>
<body>
    <br><br>
    <h1 id="title">Belchessmind.org</h1>
    <form class="form" onsubmit="return checkRegForm(this)" method="post">

        <label for="nickname">Имя</label>
        <input type="text" name="nickname" placeholder="Имя" id="nickname" maxlength="50" required><br><br>
        <label for="login">Логин</label>
        <input type="text" name="login" placeholder="Логин" id="login" maxlength="50" required><br><br>
        <label for="password">Пароль</label>
        <input type="password" name="pass" placeholder="Пароль" id="password" maxlength="50" required><br><br>
        <label for="repass">Подтвердите пароль</label>
        <input type="password" name="repass" placeholder="Пароль" id="repass" maxlength="50" required><br><br>

        <input class="buttons" type="submit" name="submit" value="Зарегистрироваться">
<!--        <input class="buttons" type="reset" name="reset" value="Очистить">-->
    </form>

    <script src="/src/static/js/signup.js"></script>
</body>
</html>